$white: #ffffff;
$px8: 8px;
$px15: 15px;
$px16: 16px;
$px18: 18px;
$px24: 24px;
$primary-color: #333;
$title-font-family: 'Roboto Slab', serif;
$red: #e51717;
$dark-gray: #757575;
$light-blue: #0078a4;