$white: #ffffff;
$px8: 8px;
$px14: 14px;
$px15: 15px;
$px16: 16px;
$px18: 18px;
$px24: 24px;
$px35: 35px;
$primary-color: #333;
$title-font-family: 'Roboto Slab', serif;
$red: #e51717;
$dark-gray: #757575;
$light-blue: #0078a4;
$icon-grey: #BDBDBD;
$width75: 75%;
$width25: 25%;