@import "./variables";

.card-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.identification-card {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

.identification-card img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.identification-card h5 {
  color: $light-blue;
  font-weight: bold;
  font-size: 1em;
  margin: 0 16px 0;
  text-align: left;
  text-decoration: none;
}

.column-name {
  margin: 0;
  font-size: 1em;
  text-align: left;
}

.column-name a {
  color: $primary-color;
  font-style: italic;
}

a:hover {
    filter: opacity(0.75);
}
