@import "./variables";

.headline-head {
  display: flex;
  align-items: center;
  margin-bottom: $px14;

  h3 {
    color: $primary-color;
    font-size: 0.77em;
    font-weight: 500;
    margin: 0 $px16 0 0;
    text-transform: uppercase;
    text-align: left;
  }

  svg {
    margin-top: 0;
    height: $px16;
    width: auto;
    fill: $icon-grey;
  }
}