@import "./variables";

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: $title-font-family;
  font-size: $px18;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $px15;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.icon-button {
  cursor: pointer;
  border: none;
  padding: $px16;
  color: $primary-color;
  background-color: transparent;
  font-size: $px15;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  svg {
    height: 1em;
    width: 1em;
    margin-right: $px16;
  }
}

.icon-button:hover {
  filter: opacity(0.75);
}

.text-color-red {
  color: $red;
}

.news-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: $px35;
}

.news-content {
  width: $width75;
}

.aside-content {
  width: $width25;
}

.news-and-slider-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.slider {
  width: 66.66%;
}

.side-news {
  width: 33.66%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
