@import "./variables";

.horizontal-nav-container {
  background-color: $white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.horizontal-nav-item {
  margin: 0 10px;
}

.horizontal-nav-item a {
  color: $primary-color;
  text-decoration: none;
  font-size: 1em;
  padding: 0px;
}

.horizontal-nav-item a:hover {
  filter: opacity(0.75)
}
